@model MediTracker.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonForVisit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReasonForVisit)
        </dd>
    </dl>

    <form asp-controller="Notes" asp-action="Create">
        <input type="hidden" asp-for="AppointmentId">
        <button type="submit">Add Note</button>
    </form>

    @if (Model.Notes.Count > 0)
    {
        <dl>
            <dt class="col-sm-2">
                Appointment Notes:
            </dt>
            @foreach (var n in Model.Notes)
            {
                <dd class="col-sm-10">
                    @n.Content
                    <a asp-controller="Notes" asp-action="Edit" asp-route-id="@n.NoteId">Edit</a>
                    <a asp-controller="Notes" asp-action="Delete" asp-route-id="@n.NoteId">Delete</a>
                </dd>
            }
        </dl>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AppointmentId">Edit</a> |
    @if (Model.Date < DateTime.Now)
    {
        <a asp-action="PreviousAppointments">Back to List</a>
    }

    @if (Model.Date >= DateTime.Now)
    {
        <a asp-action="Index">Back to List</a>
    }
</div>
