@model IEnumerable<MediTracker.Models.Appointment>

@{
    ViewData["Title"] = "PreviousAppointments";
}

<h1>PreviousAppointments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="upcoming-apps-button">
    <a asp-action="Index">View Upcoming Appointments</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonForVisit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonForVisit)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
