@model MediTracker.Models.Appointment

@{
    ViewData["Title"] = "Delete";
}

<h1>Attention! All information regarding this appointment will be permanently deleted..</h1>

<h3>Do you still wish to delete this appointment?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonForVisit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReasonForVisit)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AppointmentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
