@model IEnumerable<MediTracker.Models.Appointment>

@{
    ViewData["Title"] = "PreviousAppointments";
}

<h4>Previous Appointments</h4>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<form class="create-btn-form">
    <input asp-controller="Appointments" asp-action="Create" type="submit" value="Add Appointment" class="btn create-btn" style="background-color:blue; color:white" />
</form>

@*<div class="upcoming-apps-button">
    <a asp-action="Index">View Upcoming Appointments</a>
</div>*@

<form class="create-btn-form">
    <input asp-controller="Appointments" asp-action="Index" type="submit" value="View Upcoming Appointments" class="btn create-btn" style="background-color:dimgrey; color:white" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                Reason For Visit
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonForVisit)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
